* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #55acee;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar {
    position: relative;
}

.navbar-top {
    width: 83%;
    margin-left: auto;
    padding: 1em 7em;
    border-top-right-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

.nav-links-top {
    display: flex;
    justify-items: center;
    align-items: center;
    .links {
        list-style-type: none;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: black;
            font-size: 14px;
        }
        .profile {
            width: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            span {
                font-size: 14px;
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
    .search {
        position: absolute;
        right: 55%;
    }
    input {
        margin: 0 150px;
        width: 50%;
        padding: 1em 0.7em 1em 4em;
        border: none;
        background-color: rgba(184, 184, 184, 0.1);
    }
}

.navbar-left {
    width: 17%;
    position: absolute;
    top: 0;
    height: 90vh;
    border-top-left-radius: 8px;
    padding: 1em;
    // z-index: 99;
    background-color: #fff;
    border-bottom-left-radius: 8px;
    ul {
        margin: 100px 0 100px 10px;
        list-style-type: none;
        li {
            margin-bottom: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
            a {
                text-decoration: none;
                color: rgb(128, 128, 128);
                width: 100%;
            }
            .active {
                color: $main-color;
                font-weight: 600;
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    right: 0;
                    height: 100%;
                    width: 5px;
                    background-color: $main-color;
                }
            }
        }
    }
    button {
        background-color: $main-color;
        border: none;
        border-radius: 30px;
        padding: 1em 2em;
        width: 100%;
        color: white;
    }
}