* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$main-color: #55acee;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.navbar-top {
    width: 85%;
    margin-left: auto;
    padding: 1em 7em;
    border-top-right-radius: 8px;
    font-family: 'Poppins', sans-serif;
}

.nav-links-top {
    display: flex;
    justify-items: center;
    align-items: center;
    .links {
        list-style-type: none;
        margin-right: 30px;
        a {
            text-decoration: none;
            color: black;
            font-size: 14px;
        }
        .profile {
            width: 150px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            span {
                font-size: 14px;
            }
            img {
                width: 40px;
                height: 40px;
                border-radius: 50%;
            }
        }
    }
    input {
        margin: 0 150px;
        width: 50%;
        padding: 1em 0.7em 1em 4em;
        border: none;
        background-color: rgba(153, 153, 153, 0.1);
    }
}